# LangChain and LLMs
langchain==0.3.25
langchain-community
langchain-core
langchain-qdrant
langchain-openai
openai
tiktoken

# Vector DB
faiss-cpu
PyMuPDF
# PDF + Utils
pypdf
python-dotenv
langchain-classic
langchain-qdrant
qdrant_client
# Web Server
flask
flask-cors
flask-sock
websockets
websocket-client
eventlet
gunicorn


# OCR Dependencies
numpy


